.block:target {
    background-color: rgba(199, 202, 131, 0.496); 
    display: block;
}

.block {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.content {
    background-color: rgb(247, 247, 247);
    position: absolute;
    top: 250px;
    left: 400px;
    right: 400px;
    bottom: 250px;
    padding: 10px;
}
