body {
    background-color: grey;
    margin: 0px; 
    font-family: 'Roboto';
}

.header {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.block_tab {
    display: flex;
    justify-content: space-around;
}

.block:target {
    background-color: rgba(199, 202, 131, 0.496); 
    display: block;
}

.block {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.content {
    background-color: rgb(247, 247, 247);
    position: absolute;
    top: 50px;
    left: 400px;
    right: 400px;
    bottom: auto;
    padding: 10px;
}

.span1 {
    line-height: 50px;
}        

.span2 {
    font-size: 20px;
    color: white;
}

.list {
    font-size: 16px; 
    color: white; 
    text-decoration: none; 
    padding: 20px;
}

    
.blog {
    padding-right: 20px ;
}

.car {
    background-image: url(./662836080.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
    color: white; 
    min-height: calc(100vh - 50px); 
}

.start {
    padding: 150px; 
    font-size: 150px;
}

.divbig {
    background-color: grey;  
}

.trainings {
    text-align: center; 
    padding: 30px;
    font-size: 30px;
    font-weight: 400;
}

.lorem {
    text-indent: 20px; 
    text-align: justify;
}

.demanded {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

.button1 {
    font-size: 12px;
    float: left;
    max-width: 20%;
    min-width: 100px;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.button1:hover {
    border: solid 3px rgba(0, 0, 0, 0.727);
}

table {
    background-color: white;
    vertical-align: middle;
    width: calc(100% - 50px);
    font-size: 14px;
    padding: 20px;
    min-width: 900px;
}

tr td {
    padding: 5px;
}

tr > td {
    width: 40%;
}

td:nth-of-type(2) {
    width: 40%;
}

.zagolovok {
    font-size: 18px;
    color: blue;
}

.zagolovok a:active {
    color: cadetblue;
}

.stoimost {
    font-size: 20px;
    font-weight: 700;
}


.button2 {
    text-align: center;
    padding: 5px 10px;
    border-spacing: 10px;
    border-radius: 5px;
    display: block;
}

.button2_green {
    background-color: rgb(101, 216, 101);
    color: white;
    border-bottom: solid 3px rgb(34, 142, 34);
}

.button2:hover {
    background-color: rgb(34, 142, 34);
}

.button2:active {
    background-color: rgb(21, 64, 21);
}

.button2_white {
    background-color: white;
    color: blue;
    border: solid 1px black;
}

td:nth-of-type(3n) {color: red;}

.login {
    color: white; 
    position: relative; 
    top: 15px; 
    right: 15px;
}

td a {
    text-decoration: none;
}

body {
    background-color: rgb(169, 156, 156);
    margin: 0;
}

.zagolovok {
    font-size: 36px;
    font-weight: 100;
    margin: 10px 0px 50px 20px;
}

.chelovek_1 {
    background-color: white;
    width: calc(100% - 20px);
    height: 370px;
    margin: 10px;
}

.foto_1 {
    border-radius: 100px;
    width: 80px;
    float: left;
    margin: 30px;
}

.style_name {
    font-size: 15px;
    padding-top: 40px;
}

.style_doljnost {
    font-size: 15px;
    color: rgb(126, 130, 130);
    padding-top: 15px;
}

.tema {
    font-size: 25px;
    padding: 30px 30px 15px;
    clear: both;
}

div.opisanie {
    overflow: auto;
    width: calc(100% - 70px);
    height: 100px;
    padding: 10px 15px 15px 30px;
}

div a {
    padding-left: 30px;
    color: blue;
    border-top: solid 30px rgba(255, 255, 255, 0.211);
    text-decoration: none;
}

@media (max-width: 600px) {
    div.start {font-size: 100px;}
}

@media (max-width: 440px) {
    div.start {font-size: 50px;}
}    

@media (max-width: 295px) {
    div.start {font-size: 20px;}
}

@media (max-width: 750px) {
    .scroll {
        overflow-x: scroll;
        margin: 30px;
    }
}

